In [ ]:
print(45)

45

In [ ]:
print(55.55)

55.55

In [ ]:
print('python123')

python123

In [ ]:
print('My age is 27')

My age is 27

In [ ]:
a = 27

print('my age is 27')

my age is 27

**relation with print and varibales**

- `1. using ,(comma) we can add one data type inside the print with other data type and also comma will give one tab space `

In [ ]:
a = 27a
print('my age is',a)

my age is 27

In [ ]:
a = 45
b = 'USA'
c = 90.22

# I am at the age of 45 staying in usa and earning 90.22 thousand dollors per year

print('I am at the age of',a,'staying in',b,'and earning',c,'thousand dollors per year')

I am at the age of 45 staying in USA and earning 90.22 thousand dollors per year

In [ ]:
# Before going to learn 2nd Technique first have a look into type conversions concept

**type Conversion -> converting one data type into other data type**

- `int -> float and int -> str `
- `float -> int and float -> str `
- `str -> int and str -> float `

In [ ]:
# int -> float

a = 25
print(a)
print(type(a))

b = float(a) # actual conversion is going on
print(b)
print(type(b))

25
<class 'int'>
25.0
<class 'float'>

In [ ]:
f = 56
g = str(f)
print(g)

56

In [ ]:
# int -> str

a = 25
print(a)
print(type(a))

b = str(a) # actual conversion is going on
print(b)
print(type(b))

25
<class 'int'>
25
<class 'str'>

In [ ]:
# float -> int

a = 25.5555
print(a)
print(type(a))

b = int(a) # actual conversion is going on
print(b)
print(type(b))

25.5555
<class 'float'>
25
<class 'int'>

In [ ]:
# float -> str

a = 25.5555
print(a)
print(type(a))

b = str(a) # actual conversion is going on
print(b)
print(type(b))

25.5555
<class 'float'>
25.5555
<class 'str'>

In [ ]:
# str -> int

a = '987'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

987
<class 'str'>
987
<class 'int'>

In [ ]:
# str -> int

a = 'kumar987'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

kumar987
<class 'str'>

ValueError: invalid literal for int() with base 10: 'kumar987'

In [ ]:
# str -> float

a = '67.88'
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

67.88
<class 'str'>
67.88
<class 'float'>

In [ ]:
# str -> float

a = 'praveen67.88'
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

praveen67.88
<class 'str'>

ValueError: could not convert string to float: 'praveen67.88'

- `2. using + -> we can add str data type along with given varibales but make sure that variables are also string -> and + operator wont give one tab space `

In [ ]:
a = 27
print('my age is '+str(a))

my age is 27

In [ ]:
a = 45
b = 'USA'
c = 90.22

# I am at the age of 45 staying in usa and earning 90.22 thousand dollors per year

print('I am at the age of '+str(a)+' staying in '+b+' and earning '+str(c)+' thousand dollors per year')

I am at the age of 45 staying in USA and earning 90.22 thousand dollors per year

- `3. using Identifiers -> %d -> int and %f -> float and %s -> str `

In [ ]:
a = 27
print('my age is %d'%(a))

my age is 27

In [ ]:
a = 45
b = 'USA'
c = 90.22

# I am at the age of 45 staying in usa and earning 90.22 thousand dollors per year

print('I am at the age of %d staying in %s and earning %f thousand dollors per year'%(a,b,c))

I am at the age of 45 staying in USA and earning 90.220000 thousand dollors per year

In [ ]:
a = 45
b = 'USA'
c = 90.22

# I am at the age of 45 staying in usa and earning 90.22 thousand dollors per year

print('I am at the age of %d staying in %s and earning %f thousand dollors per year'%(b,c,a))

TypeError: %d format: a real number is required, not str

-  `4. using {} and f function`

In [ ]:
a = 27
print(f'My age is {a}')

My age is 27

In [ ]:
a = 45
b = 'USA'
c = 90.22

# I am at the age of 45 staying in usa and earning 90.22 thousand dollors per year

print(f'I am at the age of {a} staying in {b} and earning {c} thousand dollors per year')

I am at the age of 45 staying in USA and earning 90.22 thousand dollors per year

In [ ]:
# library

import math # open the library

math.factorial(5)

120

In [ ]:
math.sqrt(25)

5.0